
@tailwind utilities;
@import "tailwindcss"; 
@import "tailwindcss/preflight";

/* global.css or Tailwind base */
.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  